*{ /* This feature targets all elements on the page */
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 116, 165);
    /*opacity: 0.95; This specifies the contrast of the background color*/
    
    /*background-color: hsla(300, 50%, 50%, 0.05);
    H repredenting hue and has angle between 0 and 360, 
    s representing saturation representing percentage
    l represting lightness with percentage 0% being white, 50% being normal and 100% being black
    a representing a number between 0 and 1.0*/

}
p#introduction{
    color: aqua;
    font-size: 100%;
}

p.note{
    color: brown;
}
li>a {
    color: rgb(208, 255, 0);
}
/**
* {}
Targets all elements on the page

h1, h2, h3 {}
Targets the <h1>, <h2> and <h3> elements

.note {}
Targets any element whose class attribute has a value of note

p.note {}
Targets only <p> elements whose class attribute has a value of note

#introduction {}
Targets the element whose id attribute has a value of introduction

li>a {}
Targets any <a> elements that are children of an <li> element (but not other <a> elements in the page)

p a {}
Targets any <a> elements that sit inside a <p> element, even if there are other elements nested between them

h1+p {}
Targets the first <p> element after any <h1> element (but not other <p> elements)

h1~p {}
If you had two <p> elements that are siblings of an <h1> element, this rule would apply to both