<head>
    <title>Absolute Positioning</title>
    <style type="text/css">
        h1{
            position: absolute;
            top: 0px;
            left: 900px;
            width: 250;
            margin: 0px; /*to take out the gap from the top of the heading*/
        }
        p{
            width: 450;
        }
    </style>
</head>
<body>
    <h1>The Evolution of the Bicycle</h1>
    <p>In 1817 Baron von Drais invented a walking 
        machine that would help him get around the 
        royal gardens faster...</p>
    <p>In 1817 Baron von Drais invented a walking 
            machine that would help him get around the 
            royal gardens faster...</p>
    <p>In 1817 Baron von Drais invented a walking 
        machine that would help him get around the 
        royal gardens faster...</p>
</body>