<head>
    <title>side by side float</title>
    <style type="text/css">
        body{
            width: 850px;
            color: #665544;
        }
        p{
            width: 230px;
            float: left;
            margin: 5px;
            padding: 5px;
            background-color: #efefef;
        }
        /* This code lets u add border to all parts of the elements. All paragraphs must be in a div
        div {
            border: 1px solid #665544;
            overflow: auto;
            width: 100%;} */
    </style>
</head>
<body>
    <div>
        
    </div>
    <h1>The Evolution of the Bicycle</h1>
    <p>1 In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster...In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster..In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster..</p>
    <p>2 In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster...In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster..In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster..In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster..</p>
    <p>3 In 1817 Baron von Drais invented a walking 
    machine that would help him get around the 
    royal gardens faster...</p>
    <p>4 In 1817 Baron von Drais invented a walking 
        machine that would help him get around the 
        royal gardens faster...In 1817 Baron von Drais invented a walking 
        machine that would help him get around the 
        royal gardens faster..In 1817 Baron von Drais invented a walking 
        machine that would help him get around the 
        royal gardens faster..In 1817 Baron von Drais invented a walking 
        machine that would help him get around the 
        royal gardens faster..</p>
    <p>5 In 1817 Baron von Drais invented a walking 
            machine that would help him get around the 
            royal gardens faster...In 1817 Baron von Drais invented a walking 
            machine that would help him get around the 
            royal gardens faster..In 1817 Baron von Drais invented a walking 
            machine that would help him get around the 
            royal gardens faster..In 1817 Baron von Drais invented a walking 
            machine that would help him get around the 
            royal gardens faster..</p>
    <p>6 In 1817 Baron von Drais invented a walking 
                machine that would help him get around the 
                royal gardens faster...In 1817 Baron von Drais invented a walking 
                machine that would help him get around the 
                royal gardens faster..In 1817 Baron von Drais invented a walking 
                machine that would help him get around the 
                royal gardens faster..In 1817 Baron von Drais invented a walking 
                machine that would help him get around the 
                royal gardens faster..</p>
</body>

<!-- This is used in cases where the 4th paragraph cannot move to the 2nd line to join the 5th paragraph because the 3rd 
    paragraph has space for the 4th to continue but it cannot move to the next to join the 5th because the 2nd para. is
    in its way
body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;}
p {
    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;}
.clear { this is for the 4th paragraph, named as class=clear
    clear: left;} -->